%table
  %thead
    %tr
      %td
      %td Title
  %tbody
    - @posts.each do |post|
      %tr
        %td = image_tag post.image, size: '200x100'
        %td = post.title
        %td = link_to 'Show', [@user, post]
        %td = link_to 'Edit', edit_user_post_path(@user, post)
        %td = link_to 'Delete', [@user, post], method: :delete